# Secret
.env

# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/

# Virtual envs
.venv/
.env/
venv/

# PyTorch / Model Artifacts
*.pt
*.pth
*.ckpt
*.onnx
*.npz

# CUDA / GPU Kernels
*.i
*.ii
*.ptx
*.cubin
*.fatbin
*.gpu

# Profiling outputs
*.nsys-rep
*.nvvp
*.prof

# Hydra / Output Directories
outputs/
logdir/
multirun/
workspace/

# Jupyter
.ipynb_checkpoints/

# Docker
*.tar
*.log

# Terraform / Infra
.terraform/
terraform.tfstate*
*.tfplan
*.tfvars

# Helm
infra/helm/**/charts/
infra/helm/**/templates/*.tpl
