# RL Agent
torch==2.6.0
numpy==1.26.4
stable-baselines3[extra]==2.6.0
gymnasium[mujoco]==1.1.1
matplotlib==3.10.1
sb3-contrib==2.6.0
pyyaml==6.0.1
hydra-core==1.3.2
omegaconf==2.3.0

# LLM + Fine-tuning
transformers[torch]==4.50.1
datasets==3.4.1
torchaudio==2.6.0
torchvision==0.21.0
triton==3.2.0
tqdm==4.67.1
tensorboard==2.19.0
torch-tb-profiler==0.4.3
accelerate==0.26.0
moviepy==2.1.2
